<div class="layer2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-2 logo">
        <img alt="pic1" src="assets/logo.png" />
      </div>
      <div class="col-lg-8 col-10 nav">
        <h6>PRICING</h6>
        <h6>FQA</h6>
        <h6>BENEFITS</h6>
        <h6>TESTIMONIAL</h6>
        <h6>ABOUT US</h6>
        <h6>CONTACT US</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 main_title">
        <h2>Generate Ads at scale</h2>
        <p>
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
        </p>
        <button class="btn btn-primary">Start Your Free Trail</button>
      </div>
      <div class="col-lg-6">
        <img class="pic1" alt="pic1" src="assets/pic1.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="text-align: center">
        <h1>We are ecommerce</h1>
        <div
          class="d-flex"
          style="justify-content: center; align-items: center"
        >
          <div class="boxImg">
            <img alt="pic1" src="assets/box5.png" />
          </div>
          <div class="box">
            <img alt="pic1" src="assets/box1.png" />
          </div>
          <div class="box">
            <img alt="pic1" src="assets/box3.png" />
          </div>
          <div class="box" style="background-color: black">
            <img alt="pic1" src="assets/box6.png" />
          </div>
          <div class="box">
            <img alt="pic1" src="assets/box2.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="text-align: center">
        <h1 style="margin-top: 100px; margin-bottom: 20px; font-weight: bold">
          3 most amazing benefits
        </h1>
        <div class="mainNumber" style="justify-content: center"></div>
        <div class="mainBox" style="justify-content: center">
          <div class="boxs">
            <div class="number col-12"><h1>1</h1></div>
            <div class="largeBox col-12">
              <h5>Save up to 6 hours per day</h5>
              <p>
                dummy data dummy data dummy data dummy data dummy data dummy
                data dummy data dummy data dummy data dummy data dummy data
              </p>
            </div>
          </div>
          <div class="boxs">
            <div class="number col-12"><h1>2</h1></div>
            <div class="largeBox col-12">
              <h5>Increase your ad spend up to 5 times</h5>
              dummy data dummy data dummy data dummy data dummy data dummy data
              dummy data dummy data dummy data dummy data dummy data
            </div>
          </div>
          <div class="boxs">
            <div class="number col-12"><h1>3</h1></div>
            <div class="largeBox col-12">
              <h5>Analyeze and test more</h5>
              dummy data dummy data dummy data dummy data dummy data dummy data
              dummy data dummy data dummy data dummy data dummy data
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary"
          style="margin-top: 360px; position: relative"
        >
          START YOUR FREE TRAIL NOW
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 170px; position: relative">
      <div class="col-lg-6">
        <img class="pic1" alt="pic1" src="assets/pic2.png" />
      </div>
      <div class="col-lg-6 main_title">
        <h2>Testimonials</h2>
        <p>
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
        </p>
        <p style="color: blue; font-size: large; font-weight: bold">
          The mass upload tool is a game changer!
        </p>
        <button class="btn btn-primary">Start Your Free Trail</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 main_title">
        <h2 style="font-weight: bold">Life is easier</h2>
        <p>
          if you are an agency or a scale up e-commerce store, this tool is for
          you. it will allow you to
        </p>
        <div class="d-flex">
          <i
            style="color: blue; margin-right: 7px; margin-top: 4px"
            class="fa-solid fa-square-check"
          ></i>
          <p>Save Time uploading ads</p>
        </div>
        <div style="margin-top: -12px" class="d-flex">
          <i
            style="color: blue; margin-right: 7px; margin-top: 4px"
            class="fa-solid fa-square-check"
          ></i>
          <p>Increase the ads spend</p>
        </div>
        <div style="margin-top: -12px" class="d-flex">
          <i
            style="color: blue; margin-right: 7px; margin-top: 4px"
            class="fa-solid fa-square-check"
          ></i>
          <p>Test more ads and creatives</p>
        </div>
        <p>
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
          dummy data dummy data dummy data dummy data dummy data dummy data
        </p>
      </div>

      <div class="col-lg-6">
        <img class="pic1" alt="pic1" src="assets/pic2.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 main_title">
        <h6 style="color: blue">
          We Come from ecommerce and agency worlds,we know the plan.
        </h6>
        <h1 style="color: rgb(205, 91, 63)">TRUST us.</h1>
        <div>
          <h5 style="color: blue">it does not get better than this</h5>
        </div>

        <button class="btn btn-primary mt-4x">Start Your Free Trail</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="text-align: center">
        <h1 style="margin-top: 100px; font-weight: bold; margin-bottom: 30px">
          Pricing
        </h1>
        <div class="pricingMainBox" style="justify-content: center">
          <div class="pricingBox1">
            <h4>BASIC</h4>
            <hr />
            <h6 class="mb-4">Free</h6>
            <div class="d-flex">
              <i
                style="color: blue; margin-right: 7px; margin-top: 2px"
                class="fa-solid fa-square-check"
              ></i>
              <p>Increase the ads spend</p>
            </div>
            <div class="d-flex">
              <i
                style="color: blue; margin-right: 7px; margin-top: 2px"
                class="fa-solid fa-square-check"
              ></i>
              <p>Increase the ads spend</p>
            </div>
            <button class="btn btn-primary mt-4">GO TO DASHBOARD</button>
          </div>
          <div class="pricingBox2">
            <h4>SCALE UP</h4>
            <hr />
            <h6 class="mb-4">80$ per month</h6>
            <div class="d-flex">
              <i
                style="color: blue; margin-right: 7px; margin-top: 2px"
                class="fa-solid fa-square-check"
              ></i>
              <p>Increase the ads spend</p>
            </div>
            <div class="d-flex">
              <i
                style="color: blue; margin-right: 7px; margin-top: 2px"
                class="fa-solid fa-square-check"
              ></i>
              <p>Increase the ads spend</p>
            </div>
            <button class="btn btn-primary mt-4">BY SCALE UP</button>
          </div>
          <div class="pricingBox3">
            <h4>UNLIMITED</h4>
            <hr />
            <h6 class="mb-4">300$ per month</h6>
            <div class="d-flex">
              <i
                style="color: blue; margin-right: 7px; margin-top: 2px"
                class="fa-solid fa-square-check"
              ></i>
              <p>Increase the ads spend</p>
            </div>
            <div class="d-flex">
              <i
                style="color: blue; margin-right: 7px; margin-top: 2px"
                class="fa-solid fa-square-check"
              ></i>
              <p>Increase the ads spend</p>
            </div>
            <button class="btn btn-primary mt-4">BUY UNLIMITED</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="text-align: center">
      <div class="footer">
        <div class="col-lg-4">
          <img alt="pic1" src="assets/pnglogo.png" />
          <h6>Generate ads at scale</h6>
        </div>
        <div class="col-lg-4 mt-5">
          <h6>PRICING</h6>
          <h6>FAQ</h6>
          <h6>BENEFITS</h6>
          <h6>TESTIMONIAL</h6>
          <h6>ABOUT US</h6>
        </div>
        <div class="col-lg-4">
          <h4>Talk to us</h4>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="email"
              aria-label="email"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group">
            <textarea
              class="form-control"
              aria-label="With textarea"
              placeholder="your message"
            ></textarea>
          </div>
          <button
            class="btn btn-primary btn-sm mt-3"
            type="button"
            style="width: 150px"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="layer1">
  <img class="firstImg" src="assets/gradiant.png" />
  <img class="secondImg" src="assets/red_gradiant.png" />
  <img class="thirdImg" src="assets/pic3.png" />
  <img class="fourthImg" src="assets/gradiant.png" />

  <div class="gradient"></div>
</div>
